/* general page structure styling */

body {
  font-family: 'Merriweather', serif;
}

#page-content {
  margin: 2rem;
}

#footer {
  background-color: #16110f;
  padding: 1rem 2rem;
  text-align: center;
  height: 8rem;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #EEE4D1;
  line-height: 1.5rem;
  padding-top: 1rem;
}

.header {
  background-color: #9F5D36;
  padding: 1.5rem 0.5rem 5rem 0.5rem;
  text-align: right;
  height: 7rem;
}

header {
  padding: 0;
}

h4 {
  margin-bottom: 0.5em;
  margin-top: 2rem;
  color: #3C2E28;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  color: #9F5D36;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  text-transform: lowercase;
  display: inline;
}

.centered {
  text-align: center;
}

.checkout-form {
  background-color: #EEE4D1;
  padding: 1.5rem 2rem;
}

.checkout-form h3 {
  margin-top: 0rem;
}

.order-summary {
  margin-top: 2rem;
  /* background-color: #EEE4D1; */
  padding: 0rem 2rem;
}

.order-summary h3 {
  margin-top: 0;
}

.order-summary p {
  display: inline;
}

.order-summary-info {
  display: block;
  margin-top: 0.5rem;
}

.checkout-form {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.customer-address {
  margin-top: 2rem;
}

.payment-info {
  margin-top: 2rem;
}

.checkout-input {
  display: block;
  margin-top: 0.5rem;
}

.slash {
  margin-right: 1rem;
}

.order-confirm {
  margin-bottom: 3rem;
}

.order-confirm img {
  width: 10rem;
  margin-top: 2rem;
}

.order-confirm h3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.order-confirm .submit-button {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0;
  width: 18rem;
}

section p {
  margin-top: 0;
  color: #3D3027;
}

/* basic styling for the nav */

nav#nav-reg a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.15em;
  text-align: CENTER;
  margin-top: 2rem;
  padding: 1em 1em;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

nav#nav-ham a {
  text-align: left;
}

a {
  text-decoration: none;
}

.img-logo {
  width: 7rem;
  display: inline-block;
  margin-left: 1rem;
  float: left;
}

/* Styling for home page elements -- the large photos */

.build {
  width: 33%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.authors {
  width: 33%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.about {
  width: 33%;
  display: inline-block;
  position: relative;
  text-align: center;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

/* Styling for the navigation "buttons" */

.button-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 1em 1em;
  color: #EEE4D1;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus, .button-nav:active {
  color: #CFA77D;
}

#nav-reg .sub-nav:hover .sub-nav-content, #nav-reg .sub-nav:focus .sub-nav-content, #nav-reg .sub-nav:active .sub-nav-content {
  display: block;
  visibility: visible;
}

#nav-ham .sub-nav input:checked ~ .sub-nav-content {
  display: block;
  position: relative;
  padding-left: 5rem;
  visibility: visible;
}

nav#nav-ham .sub-nav input {
  margin-left: 0;
  margin-top: 1rem;
  width: 5rem;
}

/* styling for animated search bar in the regular main nav*/

#nav-reg .search-toggle {
  display: inline-block;
  z-index: 4;
  margin-right: 1rem;
  margin-left: -1rem;
}

#nav-reg .search-toggle input.search-checkbox {
  display: block;
  position: absolute;
  right: 1.85rem;
  margin-top: 0.25rem;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 5; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* styling for the search bar */

#nav-reg .search-input {
  margin-left: -8rem;
  margin-top: -1.25rem;
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  /* background-color: none; */
  border: none;
  visibility: hidden;
}

#nav-reg img.close {
  width: 1.25rem;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: -1.25rem;
  z-index: 1;
  opacity: 0;
}

#nav-reg .icon-search {
  z-index: 4;
  margin-left: 1rem;
  position: relative;

  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#nav-reg .icon-search:active, #nav-reg .icon-search:hover, #nav-reg .icon-search:focus {
  opacity: 0.4;
}

#nav-reg .search-toggle input.search-checkbox:checked ~ input.search-input {
  display: inline-block;
  margin-left: 0.15rem;
  visibility: visible;
}

#nav-reg .search-toggle input.search-checkbox:checked ~ img.close {
  opacity: 1;
  visibility: visible;
}

/* styling for animated search bar in the hamburger main nav*/

#nav-ham .search-toggle input.search-checkbox {
  display: block;
  position: absolute;
  left: 0.5rem;
  margin-top: 0rem;
  width: 2rem;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#nav-ham .sub-nav input.search-input {
  margin-left: 3rem;
  margin-top: 0rem;
  opacity: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  padding: 0rem 0rem 0rem 0.5rem;
  border: none;
  z-index: 2;
  width: 12rem;
}

#nav-ham img {
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}

#nav-ham img.close {
  width: 1.25rem;
  position: absolute;
  margin-left: -13.75rem;
  margin-top: -1.5rem;
  z-index: 1;
  opacity: 0;
}

#nav-ham .search-toggle input.search-checkbox:checked ~ input.search-input {
  opacity: 0.75;
  visibility: visible;
}

#nav-ham .search-toggle input.search-checkbox:checked ~ a.icon-nav {
  opacity: 0;
}

/* CSS only hamburger menu found at https://codepen.io/erikterwan/pen/EVzeRP
because the js one we learned in class required refreshing the page & we were
hoping to do one that does not require that */

nav#nav-ham {
  display: none;
  margin-top: 2.5rem;
}

nav#nav-ham span {
  margin-left: 90%;
  background: #EEE4D1
}

nav#nav-ham input {
  margin-left: 90%;
}


#menu-toggle {
  display: block;
  position: relative;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input {
  display: block;
  width: 2rem;
  height:2rem;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* the three lines of the menu icon/symbol-- not sure if 'span' is semantic but this is how the tutorial does it and i think we need this in order to animate properly */

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #3C2E28;
  border-radius: 3px;

  z-index: 1;

  transform-origin: rotate(45deg);

  transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.22s ease;
}


#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the lines of hamburger into an x */
/* transform the top line */
#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, 9px);
  background: #232323;
}

/* hide the middle line */
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* transform bottom line */
#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 4px);
}

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: absolute;
  width: 106%;
  margin-left: -1rem;
  padding: 1.25rem 1.25rem;
  height: 0;
  opacity: 0;
  display: none;
  visibility: hidden;

  background: #9F5D36;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* transition found at: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  transition: height 0.2s ease-out;
}

/* when hamburger icon clicked, make menu visible */
#menu-toggle input:checked ~ div#menu {
  height: 18rem;
  opacity: 0.95;
  display: block;
  visibility: visible;
}

#nav-ham #menu-toggle .sub-nav input:checked ~ .search-toggle {
  display: none;
  visibility: hidden;
}

/* styling for the menu when it's dropped down */
#menu a {
  padding: 1.5rem 1rem;
  font-weight: 600;
}

#menu .icon-search {
  float: left;
  margin-left: 0.85rem;
  opacity: 1;
  z-index: 4;

  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/* styling for the home page specific elements */
/* styling for the home images as buttons */
.active {
  color: #CFA77D;
}

.img-home {
  width: 100%;
  position: relative;
}

h2.img-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #FFF;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  display: inline-table;
  line-height: 100%;
  vertical-align: middle;
  margin-top: 60%;
}

.img-label-text {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  line-height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.build .img-label-text:hover {
  background-color: rgba(35, 10, 5, 0.75);
}

.authors .img-label-text:hover {
  background-color: rgba(10, 35, 20, 0.75);
}

.about .img-label-text:hover {
  background-color: rgba(30, 16, 10, 0.75);
}

/* styling for the quote/text on the home page */

.home-quote {
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 29.875rem) {
  .home-quote {
    width: 66.7%;
  }
}

@media (min-width: 35.875) {
  .home-quote {
    max-width: 941px;
    margin-left: 1rem;
    margin-right: auto;
  }
}

h1.quote {
  font-family: Merriweather, serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #3C2E28;
  margin-left: 10%;
  margin-top: 25%;
  margin-bottom: -2.5rem;
  line-height: 3.25rem;
  opacity: 0.85;
}

h3.quote {
  margin-bottom: 6rem;
  margin-left: 6rem;
}

/* media queries for homepage specifically */

@media (max-width: 56rem) {
  .build {
    width: 100%;
    display: inline-block;
    max-height: 25rem;
    overflow: hidden;
  }

  .authors {
    width: 100%;
    display: inline-block;
    max-height: 25rem;
    overflow: hidden;
  }

  .about {
    width: 100%;
    display: inline-block;
    max-height: 25rem;
    overflow: hidden;
  }

  .nav-home-imgs img {
    margin-top: -35%;
  }

  h2.img-label {
    margin-top: 22.5%;
  }

  h3.quote {
    margin-left: 5rem;
  }
}

@media (max-width: 53rem) {
  h2.img-label {
    margin-top: 24%;
  }

  h3.quote {
    margin-left: 4rem;
  }
}

@media (max-width: 51rem) {
  h2.img-label {
    margin-top: 26%;
  }
}

@media (max-width: 48rem) {
  h2.img-label {
    margin-top: 28%;
  }

  .button-nav {
    display: block;
    width: 100%;
  }

  nav a {
    margin: auto;
    /* display: block; */
  }

  nav#nav-reg {
    display: none;

  }

  nav#nav-ham {
    display: block;
  }

  h3.quote {
    margin-left: 3rem;
  }
}

@media (max-width: 43rem) {
  h2.img-label {
    margin-top: 32%;
  }

  h1.quote {
    margin-top: 30%;
    margin-bottom: -2rem;
  }
}

@media (max-width: 38rem) {
  h2.img-label {
    margin-top: 36%;
  }

  h1.quote {
    font-size: 2.25rem;
    line-height: 3rem;
    margin-top: 30%;
    margin-bottom: -2rem;
  }
}

@media (max-width: 33.7rem) {
  .plot-length .customizations div:not([class]) {
    margin-top: 1.5rem;
  }
}

@media (max-width: 33rem) {
  h2.img-label {
    margin-top: 40%;
  }

  h1.quote {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-top: 35%;
    margin-bottom: -2rem;
  }

  h3.quote {
    margin-left: 2rem;
  }
}

@media (max-width: 29rem) {
  h2.img-label {
    margin-top: 44%;
  }

  h1.quote {
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 40%;
    margin-bottom: -2rem;
  }

  nav#nav-ham span {
    margin-left: 88%;
  }

  nav#nav-ham input {
    margin-left: 88%;
  }

  .customizations {
    width: 90%;
  }

  section.frequency .figure-customize {
    margin-top: 0rem;
  }
}

/* Styling for the sub-navigation button */

.button-sub-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.11rem;
  text-align: CENTER;
  display: block;
  color: #EEE4D1;
  width: 14.5rem;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.button-sub-nav:hover, .button-sub-nav:focus, .button-sub-nav:active {
  color: #CFA77D;
}

.sub-nav {
  position: relative;
  display: inline-block;
}

.sub-nav-content {
  position: absolute;
  right: -3.25rem;
  display: none;
  padding-bottom: 1.5rem;
  margin-top: -0.5rem;
  background-color: #9F5D36;
  opacity: 0.95;
  visibility: hidden;
}

#menu .sub-nav {
  position: absolute;
  display: block;
}

#nav-ham .sub-nav-content {
  position: relative;
  margin-left: -4rem;
  width: 80rem;
}

#nav-ham .button-sub-nav {
  margin-left: -5rem;
  padding: 0.5rem 3rem;
}

.nav-icons {
  z-index: 10;
  display: inline-block;
  margin: 0.5rem;
}

@media (min-width: 590px) {
  .nav-icons {
    position: absolute;
    right: 1rem;
  }
}

.nav-icons img {
  width: 2rem;
  margin-top: 1.25rem;
  margin-left: 0.75rem;

  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.icon-nav {
  width: 1.5rem;
  margin-bottom: -0.3rem;
}

a.icon-nav:hover, a.icon-nav:focus, a.icon-nav:active {
  opacity: 0.4;
}

/* Styling for the in-text link */

.in-text-link {
  font-family: 'Merriweather', serif;
  color: #526D54;
  font-weight: 300;
  font-style: italic;
}

.in-text-link:hover, .in-text-link:focus {
  color: #8B9E8C;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* Styling for submit and reset buttons */

.submit-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 1em 2em;
  margin: 1em 0;
  color: #FFF;
  background-color: #526D54;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.display-block {
  display: block;
}

.submit-button:hover, .submit-button:focus {
  background-color: #6F8970;
}

.reset-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 1em 2em;
  margin: 1em 0;
  color: #FFF;
  background-color: #9B9B9B;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/* turns red on hover to indicate a final and potentially dangerous action */
.reset-button:hover, .reset-button:focus {
  background-color: #962A18;
}

/* Styling for text field */

.comment-field {
  width: 100%;
  height: 5rem;
}

.comments {
  margin-top: 1rem;
  padding: 1rem;
  display: block;
  background-color: #F7EFE4;
}

/* for some reason this media query is only working if I spell out each side of the padding... is this normal?*/
@media (min-width: 30rem) {
  .comments {
    padding: 3rem 3rem 3rem 3rem;
  }
}

.comments .text-field {
  margin-top: 1rem;
  width: 100%;
}

.comments h3 {
  margin: 0;
}

h2 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   color: #3D3027;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   display: block;
   margin-bottom: 3rem;
 }

h3 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color: #3D3027;
   letter-spacing: 0.1em;
   text-transform: lowercase;
   margin-top: 3rem;
   margin-bottom:1rem;
 }

 /* Styling for paragraphs */

 .para {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
   display: block;
 }

/* Styling for product listings (genres, icons, authors, awards...) */

.premise-heading-icon {
  width:5rem;
  height:100%;
  display: inline;
  margin: 0 0.5rem 2rem 0;
}

.premise-title {
  margin:1rem 0 1rem 0;
}

.product-listing {
  margin: 1rem 1rem 1rem 1rem;
  display: inline-block;
}

.photo-and-blurb-listing {
  display: inline-block;
}

@media (min-width: 42.31rem) {
  .product-listing {
    margin: 1rem 4rem 1rem 0;
  }
}

.listing-icon {
  width: 2rem;
  margin-right: 0.5rem;
  display: inline;
  vertical-align: middle;
}

.listing-name {
  display: inline;
  padding: 1em 0;
  vertical-align: middle;
}


/* styling for author pages -- big focus on responsiveness!!!*/

a.red:active, a.red:hover, a.red:focus {
  background-color: #962A18;;
}

a.brown:active, a.brown:hover, a.brown:focus {
  background-color: #664D43;
}

/* styling for author page -- big focus on responsiveness!!!*/

.author-listing {

  display: block;
}

.brown {
  background-color: #3C2E28;
}

.red {
  background-color: #6C200F;
}
.select-author {
  display: inline;
}

@media (min-width: 48.13rem) {
  .author-listing {
    display: inline-block;
    margin-right: 1.5rem;
  }
}

.large-photo {
  width:100%;
  /* height:100%; */
  display: inline;
  /* margin:auto; */
  margin-top:-20%;
}

.crop-vertically {
  max-height: 25rem;
  overflow: hidden;
}

/* slightly larger max height to account for circular shape-- doing this instead of all new css for the choose author page, since this is the only part that breaks slightly */

.choose-author-crop {
  max-height: 28rem;
  overflow: hidden;
}

.photo-thumbnail {
  width:100%;
  display: inline;
}

@media (min-width: 32rem) {
  .photo-thumbnail {
    width:7rem;
  }
}

@media (min-width: 48rem) {
  .photo-thumbnail {
    width:10em;
  }
  .listing-title {
    margin-left: 3rem;
  }
}

/* needed separate styling for small-blurb vs large-blurb since it has different break-points */

.small-blurb {
  display: inline;
  margin: 1.5rem 0 2.5rem 0;
}

.about-blurb {
  display: inline;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 500px;
}

@media (min-width: 51rem) {
  .about-blurb {
    margin-top: 0;
    margin-right: auto;
  }
}

@media (min-width: 32rem) {
  .small-blurb {
    margin: 0 1rem 0 2rem;
  }
}
@media (min-width: 37.19rem) {
  .small-blurb {
    margin: 0 3rem 0 2rem;
  }
}

@media (min-width: 46.38rem) {
  .small-blurb {
    max-width: 465px;
    margin-right: auto;
  }
}

.large-blurb {
  display: inline;
  margin: 1.5rem 0 0 0;
}

@media(min-width: 37.5rem) {
  .large-blurb {
    margin: 1.5rem 8rem 0 0;
  }
}

.award {
  margin: 2.5rem 4rem 1rem 0;
}

@media (min-width: 51rem) {
  .large-blurb {
    margin: 0 3rem 0 2rem;
  }
  .large-photo {
    width:20em;
    margin-top:auto;
    margin-right: 4rem;
    margin-bottom: 1rem;
  }
  .comments .text-field {
    width: 66.666%;
  }
}

/* keeps the line length to ~66 characters */
@media (min-width: 62rem) {
  .large-blurb {
    max-width: 500px;
    margin-right: auto;
  }
  .comments {
    width: 915px;
  }
}

.large-blurb h3 {
  margin-top: 0;
}

.selection {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.review-heading {
  margin: 1.5rem 0 0 0;
}

/* styling for blog section */

.blog-photo {
  width:100%;
  display: inline;
  margin-top:-20%;
}

.full-post {
  border: 0.05em dotted #3D3027;
}

.full-post h3 {
  margin-top: 2rem;
  color: #9F5D36;
}

.full-post img {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

h3.contact {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* customization user-flow styling */

.icon-genre {
  width: 15%;
  margin: 0em 0.5em;
  display: inline;
  vertical-align: middle;
}

.figure-choices {
  display: inline-block;
  width: 22rem;
  margin-bottom: 3rem;
}

.icon-steps {
  width: 18rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.customizations {
  display: inline-block;
  margin-right: 5rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.customizations div {
  display: inline-block;
}

.customizations h3 {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  display: block;
  padding: 0;
}

.customizations div h3 {
  margin: 0rem;
  margin-bottom: 1.25rem;
}

.customizations h5 {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.customizations p {
  color: #777;
  display: inline;
  margin: 0;
}

div.sliders {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.frequency .figure-customize {
  margin-top: 0;
}

.customize-options {
  margin-left: 0.25rem;
}

.figure-customize {
  margin-top: 0.5rem;
  display: block;
}

.customizations img {
  width: 6rem;
  display: inline-block;
  vertical-align: top;
}

.customize-slider {
  vertical-align: middle;
}

.page-input {
  display: inline;
}

.small-input {
  width: 3rem;
  margin-right: 0.25rem;
}

.plot-length {
  display: block;
  margin-top: 0.5rem;
}

.plot-length .length {
  vertical-align: top;
}


/* submit button stand alone (so it's not inline-block) */
.continue {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.back {
  display: inline-block;
  padding: 1rem 3.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: #6C200F;
}

@media (min-width: 29.5rem) {
  .continue {
    margin-top: 2rem;
  }
}

.text-preview {
  /* margin: 1rem 0 1rem 0; */
  color: #9B9B9B;
  font-style: italic;
}

.listing-title {
  margin: 0 1rem 1rem 0;
  display: inline-block;
}

.full-width {
  width:100%;
}

.choose-option {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

a.choose-option {
  text-decoration: none;
}

a.choose-option:hover, a.choose-option:focus {
  opacity: 0.75;
}

a.choose-option:hover .box, a.choose-option:focus .box {
  opacity: 0.75;
}

section.choose-option {
  margin-top: 1.5rem;
}

/*styling for review page*/

.temporary-star-styling {
  width:10em;
  height:100%;
  display: inline;
  margin: 1rem 0rem;
}

.text-field {
  width: 50%;
  margin-top: 2rem;
}

.contact-comments {
  display: inline;
}

.contact-comments .text-field {
  width: 100%;
}

@media (min-width: 46.69rem) {
  .contact-comments {
    margin-right: 2rem;
  }
}

@media (min-width: 50.75rem) {
  .contact-comments {
    max-width: 445px;
    margin-right: 2rem;
  }
}

/* styleguide styling */

.styleguide-section {
  margin: 1em 0;
  padding: 1em 1em;
  border: 0.05em dotted #3D3027;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

/* Styling for colour palette */

.palette {
  border: 0.2em solid #3C2E28;
  /* padding: 1em 1em; */
}

.swatch {
  font-family: 'Merriweather', serif;
  color: white;
  margin: 1em;
  padding: 2em 1.65em;
  margin-left:1em;
  margin-right: 0;
  display: inline-block;
}


.brown {
  background-color: #3C2E28;
}

.red {
  background-color: #6C200F;
}

.orange {
  background-color: #9F5D36;
}

.light-orange {
  background-color: #CFA77D;
}

.cream {
  background-color: #EEE4D1;
}

.light-green {
  background-color: #536D55;
}

.dark-green {
  background-color: #1E3322;
}

.grey {
  background-color: #9B9B9B;
}

.inline-block {
  display: inline-block;
}

.styleguide-h3 {
  margin: 1rem 0 1rem 0;
}

/* Styling for bullet lists */

 .bullet-lists {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
 }

 /* Styling for numbered lists-- exactly the same as prior two... */

 .numbered-lists {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
 }

 footer a {
   color: #9F5D36;
   text-decoration: none;
   -webkit-transition: color 0.2s ease-out;
   transition: color 0.2s ease-out;
 }

 footer a:hover, footer a:focus, footer a:active {
   opacity: 0.4;
 }

.list-link {
   color: #9F5D36;
   text-decoration: none;
   -webkit-transition: color 0.2s ease-out;
   transition: color 0.2s ease-out;
 }

.list-link:hover, .list-link:focus, .list-link:active {
   opacity: 0.4;
 }
