/*
  GENERAL WEBSITE STYLING
*/

body {
  font-family: 'Merriweather', serif;
}

#page-content {
  margin: 2rem;
}

/* :not([id]) {
  margin: 1em 0;
  padding: 1em 1em;
  border: 0.05em dotted #3D3027;
} */

/* h1 {
  font-family: 'Open Sans', sans-serif;
  color: #3D3027;
  font-weight: 800;
} */

/* section h2 {
  font-family: 'Open Sans', sans-serif;
  color: #3D3027;
  font-weight: 600;
} */

/* section h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  color: #3D3027;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
} */

h4 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  color: #3C2E28;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  color: #9F5D36;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  text-transform: lowercase;
  display: inline;
}

section p {
  margin-top: 0;
  color: #3D3027;
}

nav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-align: CENTER;
  font-size: 0.8em;
  display: inline;
  margin: 1em 0;
  padding: 1em 1em;
  color: white;
  background-color: #3C2C25;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

a {
  text-decoration: none;
}

.main-nav {
  display: block;
  text-align: CENTER;
  /* box-sizing: border-box; */
}

@media (min-width: 841px) {
  .main-nav {
    /* HAMBURGER IT!! */
  }
}

@media (min-width: 61.5rem) {
  .main-nav {
    text-align: CENTER;
  }
}

@media (min-width: 74rem) {
  .main-nav {
    text-align: CENTER;
  }
}


.img-logo {
  width: 10rem;
  display: block;
  margin: auto;
}



/* @media (min-width: 32em) {
  nav a{
    display: inline-block;
    margin-right: 0.5em;
    width: 40%;
  }
}

@media (min-width: 50em) {
  nav a{
    display: inline-block;
    margin-right: 0.5em;
    width: 25%;
  }
} */


nav a:hover, nav a:focus {
  text-decoration: none;
  background-color: #564540;
}

/* section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
} */

/* STYLING FOR SKETCHES PAGE SPECIFICALLY */

/* .sketch {
  width: 100%;
  margin: 2em 1em 0em 1em;
}

figcaption {
  font-family: 'Merriweather', serif;
  font-size: 0.8em;
} */


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.11rem;
  text-align: CENTER;
  display: block;
  padding: 1em 1em;
  margin: 1em 0em;
  color: #3C2E28;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus, .button-nav:active {
  color: #CFA77D;
}

.active {
  color: #CFA77D;
}

/* Styling for the sub-navigation button */
.button-sub-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.11rem;
  text-align: CENTER;
  display: inline;
  padding: 0em 0em;
  margin-right: 1rem;
  color: #9F5D36;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  /* font-size: 0.85rem; */
}

.button-sub-nav:hover, .button-sub-nav:focus {
  color: #CFA77D;
}

#sub-nav {
  position: absolute;
  right: 4.5rem;
}

#header {
  background-color: #F7EFE4;
  padding: 1.5rem 0.5rem 0rem 0.5rem;
}

.nav-icons {
  position: absolute;
  right: 1rem;
  z-index: 10;
  display: inline-block;
}

.nav-icons img {
  width: 2rem;
  margin-top: 1.25rem;
  margin-left: 0.75rem;
}

.icon-nav {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

a.icon-nav:hover, a.icon-nav:focus, a.icon-nav:active {
  opacity: 0;
}

a.icon-nav-hover:hover, a.icon-nav-hover:focus, a.icon-nav-hover:active {
  opacity: 1;
}

/* Styling for the in-text link */

.in-text-link {
  font-family: 'Merriweather', serif;
  color: #526D54;
  font-weight: 300;
  font-style: italic;
}

.in-text-link:hover, .in-text-link:focus {
  color: #8B9E8C;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

/* Styling for submit and reset buttons */

.submit-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 1em 2em;
  margin: 1em 0;
  color: #FFF;
  background-color: #526D54;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.submit-button:hover, .submit-button:focus {
  background-color: #6F8970;
}

.reset-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 1em 2em;
  margin: 1em 0;
  color: #FFF;
  background-color: #9B9B9B;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

/* turns red on hover to indicate a final and potentially dangerous action */
.reset-button:hover, .reset-button:focus {
  background-color: #962A18;
}

/* Styling for text field */

.comment-field {
  width: 100%;
  height: 5rem;
}

/*
  TEXT ELEMENTS -------------------
*/

/* Styling for headings */

h1 {
   font-family: 'Open Sans', sans-serif;
   color: #3D3027;
   font-weight: 800;
   letter-spacing: 0.075em;
   text-transform: lowercase;
   display: inline;
   margin-left: 0.25rem;
 }

h2 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   color: #3D3027;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   display: block;
 }

h3 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color: #3D3027;
   letter-spacing: 0.1em;
   text-transform: lowercase;
   margin-top:0;
   margin-bottom:1rem;
 }

 /* Styling for paragraphs */

 .para {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
   display: block;
 }

  /* Styling for bullet lists */

 .bullet-lists {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
 }

 /* Styling for numbered lists-- exactly the same as prior two... */

 .numbered-lists {
   font-family: 'Merriweather', serif;
   font-size: 0.8rem;
   line-height: 1.3rem;
   color: #3D3027;
   letter-spacing: 0.055em;
 }


/*
  COMBINED ELEMENTS -------------------
*/

/* Styling for the main navigation */

@media (min-width: 475px) {
  .button-nav {
    display: inline-block;
  }
}


/* Styling for product listing */
/* Note that I'm using 'genres', and that 'premises' and 'authors' both have different types of images and therefore look a bit different. Premises also have a little paragraph summary on larger devices.*/

.product-listing {
  margin: 1rem 4rem 1rem 0;
  display: inline-block;
}

.listing-icon {
  width: 2rem;
  margin-right: 0.5rem;
  display: inline;
  vertical-align: middle;
}

.listing-name {
  display: inline;
  padding: 1em 0;
  vertical-align: middle;
}

/* .listing-name:hover, .listing-name:focus, .arrow:hover, .arrow:focus {
  color: #CFA77D;
} */

.arrow {
  display: inline;
  padding: 1em 0;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #3D3027;
  letter-spacing: 0.1em;
  margin-left: 1em;
  text-decoration: none;
}

/* media queries for product listing grid (using the horizontal space to get more listings on screen wherever possible, without crowding) */
/* @media (min-width: 36em) {
  .product-listing {
    width: 40%
  }
}

@media (min-width: 65em) {
  .product-listing {
    width: 20%;
  }
} */

/* Styling for colour palette */

.palette {
  border: 0.2em solid #3C2E28;
  /* padding: 1em 1em; */
}

.swatch {
  font-family: 'Merriweather', serif;
  color: white;
  margin: 1em;
  padding: 2em 1.65em;
  display: block;
}

@media (min-width: 40em) {
  .swatch {
    margin-left:1em;
    margin-right: 0;
    display: inline-block;
  }
}

.brown {
  background-color: #3C2E28;
}

.red {
  background-color: #6C200F;
}

.orange {
  background-color: #9F5D36;
}

.light-orange {
  background-color: #CFA77D;
}

.cream {
  background-color: #EEE4D1;
}

.light-green {
  background-color: #536D55;
}

.dark-green {
  background-color: #1E3322;
}

.grey {
  background-color: #9B9B9B;
}

/* styling for author page */

.author-photo {
  width:20em;
  height:100%;
  display: inline;
  margin-right: 4rem;
  margin-bottom: 1rem;
}

.author-photo-thumbnail {
  width:10em;
  height:100%;
  display: inline;
}

.author-bio {
  display: inline;
}

.icon-genre {
    width: 15%;
    margin: 0em 0.5em;
    display: inline;
    vertical-align: middle;
}

.figure-choices {
  display: inline-block;
  width: 22rem;
  margin: 2rem 0;
}

.icon-steps {
  width: 25%;
}

.customizations {
  padding: 1em 1em;
  border: 0.05em dotted #3D3027;
  display: inline-block;
  margin: 0.15rem 0;
}

.customizations h3 {
  margin-top: 0.5rem;
}

.customize-options {
  margin-left: 0.75rem;
}

.figure-customize {
  margin-top: 0.5rem;
  display: inline-block;
}

.customize-slider {
  margin-left: 0.5rem;
  margin-right: 2rem;
  vertical-align: middle;
}

.page-input {
  display: inline;
}

/* submit button stand alone (so it's not inline-block) */
.continue {
  display: block;
  width: 9.35rem;
}

.checkout {
  display: block;
  width: 17rem;
}

.text-preview {
  font-style: italic;
  color: #9B9B9B;
  width: 75%;
}

.choose-option {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

a.choose-option {
  text-decoration: none;
}

a.choose-option:hover .box, a.choose-option:focus .box {
  opacity: 0.75;
}

section.choose-option {
  margin-top: 1.5rem;
}

.nav-button-home {
  display: inline;
}

.nav-home {
  display: block;
}

.img-home {
  width: 33%;
  position: relative;
}

.overlay {
  width: 33%;
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.overlay:hover, .overlay:focus {
  opacity: 1;
}

/* .overlay-h1 {
  position: absolute;
  color: white;
  z-index: 10;
  margin-left: 6%;
} */

/*styling for review page*/

.temporary-star-stying {
  width:10em;
  height:100%;
  display: inline;
  margin: 1rem 0rem;
}

.text-field {
  width: 50%;
  margin-top: 2rem;
}

/* company page styling */

.ceo-photo {
  width:8em;
  height:100%;
  display: inline;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.ceo-bio {
  display:inline;
  margin-bottom: 1rem;
}

.ceo-section {
  margin-top: 2rem;
}
